body {
    
    background-color: black;

}


 h3, h1 {
    display: inline;
    position: relative;
    top: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h2 {
    
  position: absolute;
  top: 40px; 
  left: 75%; 
  font-size: 52px;
  color:white;
  
}


.box1 {
height: 200px;
width: 1285px;
background-color: goldenrod;

margin-left: auto;
margin-right: auto;
text-align: center;
font-size: 50px;
text-shadow: 6px 6px 0px rgba(0,0,0,0.3);

}

.broadcasts {
    
    text-align: center;
     
}


.broadcast-1 {
height: 400px;
width: 400px;
background-color: darkolivegreen;
display: inline-block;
position: relative;
text-align: center;
margin: 20px;
font-size: 35px;


}
.inner-image-1 {
height: 150px;
width: 360px;

position: absolute;
top: 230px;
left: 20px;
}





.broadcast-2 {
height: 400px;
width: 400px;
background-color: darkolivegreen;
display: inline-block;
position: relative;
text-align: center;
margin: 20px;
font-size: 35px;
vertical-align: top;


}
.inner-image-2 {
height: 150px;
width: 360px;
position: absolute;
top: 230px;
left: 20px;
}

.broadcast-3 {
height: 400px;
width: 400px;
background-color: darkolivegreen;
display: inline-block;
position: relative;
text-align: center;
margin: 20px;
font-size: 35px;


}
.inner-image-3 {
height: 150px;
width: 360px;

position: absolute;
top: 230px;
left: 20px;
}



.box5 {
height: 400px;
width: 1285px;
background-color:goldenrod;
margin-left: auto;
margin-right: auto;
position: relative;

}


.box05 {
height: 370px;
width: 1185px;

text-align: center;

display: inline-block;
position: relative;
top: 15px;
left: 50px;

}
